#enterSceneBG {
	-fx-background-image: url("/application/resources/access/img/bg3.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#loginBtn, #signupBtn, #usernameLogin, #passwordLogin {
	-fx-background-radius: 3;
}

.rules-area {
	-fx-background-color: #2e3440;
	-fx-border-color: #eceff4;
	-fx-border-radius: 5;
	-fx-padding: 5px;
	-fx-background-radius: 5; /* Rounded corners */
	-fx-text-fill: #eceff4;
}
.rules-area .content {
	-fx-background-color:  #2e3440;
}

/*#leftLoginScreen, #leftSignupScreen {
	-fx-background-image: url("/application/resources/access/img/bg3.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}*/

/* Stile per la TextArea con fx:id="codeContainer" */
#codeContainer, #userInfoTA {
	 -fx-background-color: #2e3440;
     -fx-font-family: Courier New;
     -fx-font-size: 12;
     -fx-text-fill: #eceff4;
     -fx-border-color: transparent;
     -fx-padding: 0px;
}

/* Rimuove bordi, angoli arrotondati e ombre dal contenitore di testo */
#codeContainer .content, #userInfoTA .content {
	-fx-background-color: #2e3440;
}

/* Rimuove ogni ombra che possa apparire sopra e sfondo */
#codeContainer .scroll-pane .viewport, #userInfoTA .scroll-pane .viewport{
    -fx-background-color: #3b4252; /* Sfondo del viewport */
    -fx-background-radius: 0; /* Nessun arrotondamento */
    -fx-background-insets: 0; /* Rimuove inset del background */
}

/* Stile dell'Alert che appare quando ci registriamo */
.custom-alert .content {
    -fx-background-color: #3b4252; /* Colore di sfondo del contenuto */
    -fx-padding: 10px;
}

.custom-alert .label {
    -fx-text-fill: #e5e9f0; /* Colore del testo */
    -fx-font-weight: bold;
}

.custom-alert .button-bar {
    -fx-background-color: #3b4252; /* Colore di sfondo della barra dei pulsanti */
}

.custom-alert .button {
	-fx-background-color: #5e81ac;
	-fx-text-fill: #e5e9f0;
	-fx-font-weight: bold;
	-fx-cursor: hand;
}






