#enterSceneBG {
	-fx-background-image: url("/application/resources/access/img/bg3.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#loginBtn, #signupBtn, #usernameLogin, #passwordLogin {
	-fx-background-radius: 3;
}

/*#leftLoginScreen, #leftSignupScreen {
	-fx-background-image: url("/application/resources/access/img/bg3.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}*/

/* Stile per la TextArea con fx:id="codeContainer" */
#codeContainer {
	 -fx-background-color: #2e3440;
     -fx-font-family: Courier New;
     -fx-font-size: 12;
     -fx-text-fill: #eceff4;
     -fx-border-color: transparent;
     -fx-padding: 10px;
}

/* Rimuove bordi, angoli arrotondati e ombre dal contenitore di testo */
#codeContainer .content {
	-fx-background-color: #2e3440;
}

/* Rimuove ogni ombra che possa apparire sopra e sfondo */
#codeContainer .scroll-pane .viewport {
    -fx-background-color: #3b4252; /* Sfondo del viewport */
    -fx-background-radius: 0; /* Nessun arrotondamento */
    -fx-background-insets: 0; /* Rimuove inset del background */
}





