#enterSceneBG {
	-fx-background-image: url("/application/resources/access/img/bg3.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}

#loginBtn, #signupBtn, #usernameLogin, #passwordLogin {
	-fx-background-radius: 3;
}

/*#leftLoginScreen, #leftSignupScreen {
	-fx-background-image: url("/application/resources/access/img/bg3.jpg");
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}*/


